{{- define "main" }}

<div class="container mt-5">

    <h4 style="color: rgb(46, 105, 150);">We are still seeking stakeholder partners for in-kind participation in this
        project.</h4>

    <p>
        Please reach out to set up a call and discuss the project scope in further detail. Your consideration of this
        initiative is highly appreciated.
    </p>

    <div>
        <b>Contact:</b>
    </div>

    <div>
        Dr. xxx
    </div>
    <div>
        cc. Prof. Sam Krevor - s.krevor@imperial.ac.uk and Xiaowei Gao - xg320@ic.ac.uk
    </div>
</div>

{{- end }}