{{- define "main" }}

<div class="container mt-5">

    <h2>Team</h2>
    {{ $lastIndex := sub (len .Site.Data.team.member) 1 }}
    {{ range $index, $member := .Site.Data.team.member }}
    <div class="row mt-1 mb-1  d-flex justify-content-center align-items-center list-item">
        <div class="col-lg-2 text-center">
            <div class="team-avatar rounded-3" style="background-image: url('/images/{{.avatar}}');">
            </div>
        </div>
        <div class="col-lg-10">
            <div><b>{{.name}}</b> | <span style="color: rgb(122, 122, 122);">{{.role}}</span></div>
            {{ range $position := .position }}
            <div>
                {{.}}
            </div>
            {{end}}
            <div class="mt-2">
                {{ range $social := .social }}
                {{ $pre := substr .icon_pack 0 2}}
                {{ $class := printf "%s %s-%s %s-lg" .icon_pack $pre .icon $pre}}
                {{ $href := "#"}}
                {{ if eq .id "email" }}
                {{ $href = printf "mailto:%s" .link }}
                {{ else}}
                {{ $href = .link }}
                {{ end }}
                <a class="team-icon" href="{{$href}}" target="_blank">
                    <i class="{{$class}}"></i>
                </a>
                {{end}}
            </div>
        </div>
    </div>
    {{ if lt $index $lastIndex }}
    <hr> {{ end }}
    {{ end }}

    <hr>
    <h2 class="mt-5">Partners</h2>
    <div class="mt-5">
        <h5>{{.Site.Data.team.partner.text}}</h5>
    </div>
    <div class="mt-5 mb-5">
        <img src="/images/team_partner_map.png" class="img-fluid" alt="Partner Map">
    </div>
</div>
{{- end }}
