<div class="mt-5 ms-3 me-3">
    <div class="mt-5 ms-3 me-3">
        <h4 style="flex: 1; text-align: start;">
            Annual Report and Database
        </h4>
    </div>

    <div class="mt-5 ms-3 me-3">

        <ol>
            <li>
                The Annual Report (2025) can be downloaded from
                <a class="team-icon" href="https://zenodo.org/records/18016847" target="_blank">
                   https://zenodo.org/records/18016847
                    <i class="fa-solid fa-up-right-from-square fa-xs"></i>
                </a>
            </li>

            <li>
                The full Register can be downloaded in database form from
                <a class="team-icon" href="https://zenodo.org/records/18016847" target="_blank">
                    https://zenodo.org/records/18016847
                    <i class="fa-solid fa-up-right-from-square fa-xs"></i>
                </a>
            </li>

            <li>
                An independent third party data quality assurance evaluation of the Register has been carried out by DNV and the report is available from
                <a class="team-icon" href="https://zenodo.org/records/18016847" target="_blank">
                    https://zenodo.org/records/18016847
                    <i class="fa-solid fa-up-right-from-square fa-xs"></i>
                </a> 
            </li>
        </ol>
    </div>
</div>
