{{- define "main" }}
{{/* {{ .Content }} */}}

<div class="container-fluid header-image-container" style="background-image: url('/images/home_header.png');">
    <div class="header-image-textbox">
        <h1 class="header-image-textbox-title">The London Register of Subsurface CO2 Storage</h1>
        <h2 class="mt-3">Mapping Tomorrow's Carbon Solutions, Today.</h2>
    </div>
</div>

<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-md-8">
            <p>
                Due to the importance of carbon capture and storage (CCS) in modelled climate mitigation pathways, the
                feasibility
                of achieving these rates by mid-century is central to our understanding of the potential to avoid
                dangerous climate
                change (Figure 1). With increasing numbers of industry-scale storage projects operating around the
                world, data
                through which project performance, and scale-up potential, may be evaluated are becoming available.
            </p>
            <p class="mt-4">
                Most operating CCS project chains publicly report their achieved rates of capture, transport, and
                storage (Figure 2
                ). However, these data are reported via a wide variety of outlets ranging from governmental databases to
                company
                press releases. The variation in the reporting avenues, time periods, information type, and quality
                assurance
                creates challenges in both accessing information and analysing data across projects.
            </p>
            <p class="mt-4">
                A centralised register of self-consistent information on annual storage performance will have many
                beneficiaries.
                Carbon storage project operators will benefit from visibility and clarity on their project performance.
                Investors
                and the business sector will benefit from increased confidence in the technology as a climate change
                solution and a
                viable business with compliance. Policy makers and the publics require this information to evaluate
                current and
                potential climate change mitigation provided by underground carbon storage.
            </p>
        </div>
        <div class="col-md-4">
            <figure class="figure">
                <img src="/images/home_figure1.png" class="figure-img img-fluid rounded" alt="Figure 1"
                    style="max-height: 400px;">
                <figcaption class="figure-caption">Figure 1 : Past and Future Projections of CO2 Storage Underground
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgb(246, 246, 246);">
    <div class="container" style="padding: 24px;">
        <div class="row align-items-start mt-3">
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="/images/home_figure2.png" class="figure-img img-fluid rounded" alt="Figure 2">
                    <figcaption class="figure-caption">Figure 2 : Geographical distribution of CO2 storage resources (Gt
                        CO2), where they have been assessed</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <p class="d-inline-flex gap-1">
                <h4 data-bs-toggle="collapse" href="#challenges" role="button" aria-expanded="false"
                    aria-controls="challenge">
                    The challenges in this project
                </h4>
                </p>
                <div class="collapse show" id="challenges">
                    <div>
                        <ul>
                            <li>There is no central source of data on annual amounts of CO2 storage that have been
                                achieved.
                                Although the data for individual projects is widely available in the public domain, the
                                diversity in reporting, time periods, and assurance poses significant challenges in
                                comparing data across projects</li>
                            <li>Carbon capture and storage is making a significant climate change mitigation impact now,
                                but
                                this can only be rigorously quantified with information about annual amounts of CO2
                                stored
                                globally</li>
                            <li>A rigorous time-series dataset capturing development over the coming decade will also
                                enable
                                the use of powerful growth modelling frameworks for forward predictions of CCS
                                deployment.
                                If not started now, this opportunity will be lost</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="d-inline-flex gap-1">
                <h4 data-bs-toggle="collapse" href="#solutions" role="button" aria-expanded="false"
                    aria-controls="solutions">
                    Our Solutions
                </h4>
                </p>
                <div class="collapse show" id="solutions">
                    <div>
                        <ul>
                            <li>We are creating a centralised register of annual rates of CO2 stored underground from
                                operational projects globally</li>
                            <li>This initiative obtains data directly from operators, and publicly available
                                information,
                                providing a standardised repository of annual stored amounts of CO2. This register is
                                distinct, assured, and additional to existing databases of CCS projects such as those
                                maintained by the GCCSI and IEA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12" style="color: rgb(33, 95, 154);">
            <h4 class="d-inline-flex gap-1">
                <b>Seeking stakeholder partners</b>
            </h4>
            <p>
                <b>We are still seeking stakeholder partners for in-kind participation in this project. The
                    participation requires contributing data (as an operator), discussing the questions for the annual
                    survey, and reviewing the annual report prior to publication. Please go to 'Contact Us' for more
                    contact information.</b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="d-inline-flex gap-1">
            <h4 data-bs-toggle="collapse" href="#benefits" role="button" aria-expanded="false" aria-controls="benefits">
                Benefits to consortium stakeholders
            </h4>
            </p>
            <div class="collapse show" id="benefits">
                <div>
                    Carbon storage project operators, investors and the business sector, policy makers and the public
                    <ul>
                        <li><b>Gaining visibility and clarity</b> on contributions to climate change mitigation
                            happening today
                        </li>
                        <li><b>Eliminating the undue scepticism gap</b> that currently exists about differences between
                            capture
                            capacity and actual amounts
                            of CO2 stored</li>
                        <li><b>Create a powerful indicator of growth in CCS</b> enhancing confidence as a viable
                            business and
                            climate change mitigation
                            solution</li>
                        <li><b>Generate the “Keeling Curve” of CCS</b> a major opportunity to capture the rapid growth
                            in CO2
                            storage over the coming
                            decade, enabling us to move from projections to predictive models of future deployment</li>
                        <li><b>Transparent, publicly available, assured third-party data compilation</b> already funded
                            for the
                            next four years to
                            demonstrate and establish this registry</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

</div>
{{- end }}