<table class="project-table mt-4">
    <caption>Table 2. Summary of the Three Categories of Sources of Reporting on CO2 Storage with Varying Degrees of
        Data Assurance and Quality Control Associated with Each Category</caption>
    <thead>
        <tr>
            <th scope="col" style="background-color: rgb(226, 239, 217);">Category 1</th>
            <th scope="col" style="background-color: rgb(222, 234, 246);">Category 2</th>
            <th scope="col" style="background-color: rgb(251, 241, 210);">Category 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:33%;">
                <ul>
                    <li>UNFCCC</li>
                    <li>US EPA</li>
                </ul>
            </td>
            <td style="width:33%;">
                <ul>
                    <li>Corporate Sustainability report</li>
                    <li>Corporate ESG report</li>
                    <li>Non-governmental organisation prepared reports</li>
                </ul>
            </td>
            <td style="width:33%;">
                <ul>
                    <li>Press releases</li>
                    <li>Webpages</li>
                    <li>Company presentations</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>