<table class="project-table mt-4">
    <caption>Table 1. Summary of Definitions for Performance Metrics</caption>
    <thead>
        <tr>
            <th style="width:25%;" scope="col">
                Performance Metric
            </th>
            <th scope="col">Definitions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:25%;" scope="row"><b>Capture rate capacity</b></td>
            <td>
                <ol>
                    <li>Maximum CO2 captured in a particular year</li>
                    <li>Maximum amount of CO2 that can be captured in a year based on the facility design</li>
                    <li>Average capture rate for a given period</li>
                    <li>Intended capture target</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td scope="row"><b>Capture rate</b></td>
            <td>
                An estimate of the annual amount of CO2 that has been captured after the project commenced
            </td>
        </tr>
        <tr>
            <td scope="row"><b>Storage rate - hybrid</b></td>
            <td>
                An estimate that uses the annual storage rate where possible (only some projects provided this data) and
                the average storage rate
            </td>
        </tr>
    </tbody>
</table>